<head>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>
    <header>
        <a href="/"><i class="material-icons">arrow_back</i></a>
        <a href="#"></a>
        <a href="/"><i class="material-icons">close</i></a>

    </header>

    <div class="container partner">
        <img src="https://images.vexels.com/media/users/3/144882/isolated/preview/a98fa07f09c1d45d26405fa48c344428-company-building-silhouette-by-vexels.png" alt="avatar">    

        <a href="/partner-profile" class="button">Perfil</a>
        <a href="/new-opportunity?id={{id}}" class="button">Cadastrar Oportunidade</a>
        <a href="/members" class="button">Alunos</a>
        <a href="#" class="help">Ajuda</a>
    </div>

    <footer>
        <a href="#"></a>
        <a href="#"><i class="material-icons">info</i></a>
        <a href="#"></a>
    </footer>

    <input type="hidden" name="id" value={{id}}>
    <script src="/scripts.js"></script>
</body>