<head>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>
    <header>
        <a href="/"><i class="material-icons">arrow_back</i></a>
        <a href="#"></a>
        <a href="/"><i class="material-icons">close</i></a>

    </header>

    <div class="container user">
        <img src="https://images.vexels.com/media/users/3/129616/isolated/preview/fb517f8913bd99cd48ef00facb4a67c0-silhueta-de-avatar-de-empres-aacute-rio-by-vexels.png" alt="avatar">    

        <a href="/user-profile" class="button">Perfil</a>
        <a href="/opportunities?id={{id}}" class="button">Oportunidades</a>
        <a href="/porfolio" class="button">Portifólio</a>
        <a href="#" class="help">Ajuda</a>
    </div>

    <footer>
        <a href="#"></a>
        <a href="#"><i class="material-icons">info</i></a>
        <a href="#"></a>
    </footer>

    <input type="hidden" name="id" value={{id}}>
    <script src="/scripts.js"></script>
</body>